<div class="comment-container">
    {{ form_start(form, {
        method: 'POST',
        action: path('comment_new', {'postSlug': news.slug}),
        attr: {id: 'form-comment'}
    }
    ) }}
    <fieldset>
        <legend>
            Добавить комментарий
        </legend>

        {{ form_errors(form) }}

        <div class="form-group {% if not form.text.vars.valid %}has-error{% endif %}">
            {{ form_label(form.username, 'Ваше имя', {label_attr: {class: 'hidden'}}) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {attr: {rows: 10}}) }}

            {{ form_label(form.text, 'Текст комментария', {label_attr: {class: 'hidden'}}) }}
            {{ form_errors(form.text) }}
            {{ form_widget(form.text, {attr: {rows: 10}}) }}
        </div>

        <div class="form-group">
            <input id="send-comment" class="success button" type="submit" value="Добавить">
        </div>
    </fieldset>
    {{ form_end(form) }}
    {% for comment in news.comment %}
        <div class="callout primary">
            <div class="media-object-section">
                <a name="comment_{{ comment.id }}"></a>
                <h5>{{ comment.username }}
                    <small>{{ comment.dateCreate|date('d/m/Y') }}
                    </small>
                </h5>
                <div class="col-sm-9">
                    {{ comment.text }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>Комментариев не обнаруженно</p>
        </div>
    {% endfor %}
</div>