{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
{% endblock %}
{% block news_id 'news_index' %}

{% block main %}
    <div class="row medium-8 large-7 columns">
        {% for news in newsItems %}
            <div class="blog-post">
                <a href="{{ path('news_post', {slug: news.slug}) }}">
                    <h3>{{ news.name }}
                        <small>{{ news.dateEdit|date('d/m/Y') }}</small>
                    </h3>
                </a>
                <img class="thumbnail" src="http://placehold.it/850x350">
                <p>{{ news.previewText }}</p>
                <div class="callout">
                    <ul class="menu simple">
                        <li>Комментариев: {{ (news.comment)|length }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}