{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
{% endblock %}
{% block news_id 'news_index' %}

{% block main %}
<div class="row medium-8 large-7 columns news-detail">
        <div class="blog-post" data-id="{{ newsItem.id }}">
            <h3>{{ newsItem.name }}
                    <small>{{ newsItem.dateEdit|date('d/m/Y') }}</small>
            </h3>
            <img class="thumbnail" src="http://placehold.it/850x350">
            <p>{{ newsItem.detailText }}</p>
            <a href="/news">Назад к новостям</a>
        </div>
    <hr>

    <div class="callout">
        <ul class="menu simple">
            <li>
                <a id="comment-view"
                   data-url="{{ path('news_post', {slug: newsItem.slug}) }}/show">
                    Комментариев:
                    <span id="comment-coun">{{ (newsItem.comment)|length }}</span>
                </a>
            </li>
        </ul>
    </div>
    {#{{ render(controller('AppBundle:News:commentForm', {'id': newsItem.id})) }}#}

</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js') }}"></script>
    <script src="{{ asset('build/js/comment.js') }}"></script>
{% endblock %}