<form action="{{ url('admin_comment_delete', {id: comment.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="alert button">
        Удалить
    </button>
</form>
