{{ form_start(form, {attr: attr|default({})}) }}
    {{ form_widget(form) }}

<button type="submit" class="{{ button_css|default("success button") }}">
    Сохранить
</button>

{% if include_back_to_home_link|default(false) %}
    <a href="{{ path('admin_news_index') }}" class="button secondary">
        К списку новостей
    </a>
{% endif %}
{% if include_back_to_comment_link|default(false) %}
    <a href="{{ path('admin_comment_list', {id: id_news }) }}" class="button secondary">
        К списку комментариев
    </a>
{% endif %}

{{ form_end(form) }}
