{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_news_new' %}

{% block main %}
    <h1>Создать элемент</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.previewText) }}
    {{ form_row(form.detailText) }}
    {{ form_row(form.dateEdit) }}
    {{ form_row(form.action) }}

    <button type="submit" class="success button">
        Сохранить
    </button>
    {{ form_widget(form.saveAndCreateNew, {label: 'Cохранить и добавить новую', attr: {class: 'success button'}}) }}
    <a href="{{ path('admin_news_index') }}" class="button secondary">
        Назад к списку
    </a>
    {{ form_end(form) }}
{% endblock %}
