{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_comment_edit' %}

{% block main %}
    <h1>Редактировать элемент</h1>

    {{ include('admin/news/_form.html.twig', {
        form: form,
        include_back_to_home_link: false,
        include_back_to_comment_link: true,
        id_news: comment.news.id
    }, with_context = false) }}

{% endblock %}