{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_news_edit' %}

{% block main %}
    <h1>Редактировать элемент</h1>

    {{ include('admin/news/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}

{% endblock %}
