{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
{% endblock %}
{% block news_id 'news_index' %}

{% block main %}

    <div class="row">
        <div class="columns">
            <h2>Список элементов</h2>
            <p>Для удаления или редактирования нажмите соответствующую кнопку</p>
            <table class="stack">
                <thead>
                <tr>
                    <th>ID</th>
                    <th width="300"> Дата изменения</th>
                    <th width="300">Статус публикации</th>
                    <th width="300">Заголовок</th>
                    <th width="300">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for news in newsItems %}
                    <tr>
                        <td>{{ news.id }}</td>
                        <td>{{ news.dateEdit|date('d/m/Y') }}</td>
                        <td>{%  if news.action %} Да {% else %} Нет {% endif %}</td>
                        <td>{{ news.name }}</td>
                        <td>
                            <div class="item-actions">

                                <a href="{{ path('admin_news_edit', {id: news.id}) }}" class="danger button">
                                    Редактировать
                                </a>

                                <a href="{{ path('admin_comment_list', {id: news.id}) }}" class="danger button">
                                    Комментарии
                                </a>

                                {{ include('admin/news/_delete_form.html.twig', {news: news}, with_context = false) }}


                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" align="center">Элементы отсутствуют</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('admin_news_new') }}">Добавить элемент</a>
        </div>
    </div>
{% endblock %}
