{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
{% endblock %}
{% block news_id 'news_index' %}

{% block main %}

    <div class="row">
        <div class="columns">
            <h2>Список Комментариев у новости: {{ news.name }}</h2>
            <p>Для удаления или редактирования нажмите соответствующую кнопку</p>
            <table class="stack">
                <thead>
                <tr>
                    <th>ID</th>
                    <th width="300">Пользователь</th>
                    <th width="300">Текст</th>
                    <th width="300">Дата создания</th>
                    <th width="300">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in news.comment %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.username }}</td>
                        <td>{{ comment.text }}</td>
                        <td>{{ comment.dateCreate | date('d/m/Y') }}</td>
                        <td>
                            <div class="item-actions">

                                <a href="{{ path('admin_comment_edit', {id: news.id, commentId: comment.id}) }}" class="danger button">
                                    Редактировать
                                </a>

                                {{ include('admin/news/_delete_comment_form.html.twig', {comment: comment}, with_context = false) }}

                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" align="center">Элементы отсутствуют</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('admin_news_index') }}" class="button secondary">
                Назад к списку новостей
            </a>
        </div>
    </div>
{% endblock %}
