<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Тест задание</li>
                <li><a href="/">Главная</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/admin">Админка</a></li>
            </ul>
        </div>
    </div>
    <!-- End Top Bar -->
        {% block body %}{% endblock %}
        {% block main %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
