{% extends 'base.html.twig' %}

{% block body %}
    <div class="callout large primary">
        <div class="row column text-center">
            <h1>Новости</h1>
        </div>
    </div>
    <a href="{{ path('admin_index') }}"></a>
    <div class="img">
        <img src="http://nochdobra.com/wp-content/uploads/2017/02/cat-reading-newspaper-445x29931.jpg" align="center">
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
{% endblock %}
